[Desktop Entry]
Name=Kobalto

X-KDE-PluginInfo-Name=Kobalto
X-KDE-PluginInfo-Author=Malcer Quaid
X-KDE-PluginInfo-Email=http://malcer.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
