[Desktop Entry]
Name=Finally Summer in Germany
Name[ar]=وأخيراً صيف في ألمانيا
Name[ca]=Finalment l'estiu a Alemanya
Name[de]=Endlich Sommer in Deutschland
Name[el]=Επιτέλους καλοκαίρι στη Γερμανία
Name[es]=Por fin verano en Alemania
Name[et]=Saksamaal on lõpuks suvi
Name[fa]=بالاخره تابستان در آلمان
Name[fi]=Vihdoin kesä Saksassa
Name[ga]=Finally Summer in Germany
Name[hu]=Nyár Németországban
Name[it]=Finalmente estate in Germania
Name[kk]=Германиядағы жаз таманы
Name[lt]=Pagaliau vasara Vokietijoje
Name[nds]=Oplest Sommer in Düütschland
Name[nl]=Eindelijk zomer in Duitsland
Name[nn]=Endeleg sommar i Tyskland
Name[pl]=Nareszcie lato w Niemczech
Name[pt]=Finalmente Verão na Alemanha
Name[pt_BR]=Finalmente verão na Alemanha
Name[ru]=В Германии настало лето
Name[sk]=Konečne leto v Nemecku
Name[sl]=Končno poletje v Nemčiji
Name[sr]=Напокон лето у Немачкој
Name[sr@ijekavian]=Напокон љето у Њемачкој
Name[sr@ijekavianlatin]=Napokon ljeto u Njemačkoj
Name[sr@latin]=Napokon leto u Nemačkoj
Name[uk]=Нарешті літо в Німеччині
Name[x-test]=xxFinally Summer in Germanyxx
X-KDE-PluginInfo-Name=Finally_Summer_in_Germany
X-KDE-PluginInfo-Author=Kenneth Wimer
X-KDE-PluginInfo-Email=ken@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
