[Desktop Entry]
Name=Dryland - Moss

X-KDE-PluginInfo-Name=Dryland - Moss
X-KDE-PluginInfo-Author=Tommy Hevroy
X-KDE-PluginInfo-Website=http://www.netrunner-os.com