[Desktop Entry]
Name=Enigma Orange

X-KDE-PluginInfo-Name=Enigma Orange
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com