[Desktop Entry]
Name=Enigma - Wallpaper Orange

X-KDE-PluginInfo-Name=Enigma - Wallpaper Orange
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com