[Desktop Entry]
Name=The Way God Made Me
X-KDE-PluginInfo-Name=The Way God Made Me
X-KDE-PluginInfo-Author=Christian Hecker
X-KDE-PluginInfo-Website=http://
