[Desktop Entry]
Name=Above the Skyline

X-KDE-PluginInfo-Name=Above the Skyline 
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/