[Desktop Entry]
Name=Dead and Alive

X-KDE-PluginInfo-Name=Dead and Alive
X-KDE-PluginInfo-Author=indahouse
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/?content=66554