[Desktop Entry]
Name=Castilla Sky
Name[ca]=Cel de Castella
Name[de]=Himmel über Kastilien
Name[el]=Castilla Sky
Name[es]=Cielo de Castilla
Name[et]=Castilla taevas
Name[fa]=آسمان کاستیلا
Name[fi]=Castillan taivas
Name[ga]=Castilla Sky
Name[hu]=Castillai ég
Name[it]=Cielo di Castiglia
Name[kk]=Кастилия аспаны
Name[lt]=Kastilijos dangus
Name[nds]=Kastielsch Heven
Name[nl]=Hemel van Castilla
Name[nn]=Kastiljansk himmel
Name[pl]=Niebo Kastylijskie
Name[pt]=Céu de Castela
Name[pt_BR]=Céu de Castilla
Name[sk]=Kastílska obloha
Name[sr]=Кастиљанско небо
Name[sr@ijekavian]=Кастиљанско небо
Name[sr@ijekavianlatin]=Kastiljansko nebo
Name[sr@latin]=Kastiljansko nebo
Name[uk]=Небо Кастілії
Name[x-test]=xxCastilla Skyxx

X-KDE-PluginInfo-Name=Castilla_Sky
X-KDE-PluginInfo-Author=Luiz Bettoni
X-KDE-PluginInfo-Email=lulis@odois.org
X-KDE-PluginInfo-License=LGPLv3
