[Desktop Entry]
Name=Enigma - H.e.r.o.ine

X-KDE-PluginInfo-Name=Enigma - H.e.r.o.ine
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com