[Desktop Entry]
Name=Enigma - Default

X-KDE-PluginInfo-Name=Enigma - Default
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com