[Desktop Entry]
Name=Chromatic

X-KDE-PluginInfo-Name=Chromatic
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com