[Desktop Entry]
Name=Dryland - Journey to Heaven
X-KDE-PluginInfo-Name=Dryland - Journey to Heaven
X-KDE-PluginInfo-Author=Jonathan Besler
X-KDE-PluginInfo-Website=http://
