[Desktop Entry]
Name=Rekonar 3D

X-KDE-PluginInfo-Name=Rekonar 3D
X-KDE-PluginInfo-Author=aspbazi
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/Silver+Web+%3A+Rekonar3D+?content=153223