[Desktop Entry]
Name=West Village

X-KDE-PluginInfo-Name=West Village
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/