[Desktop Entry]
Name=Journey to Heaven
X-KDE-PluginInfo-Name=Journey to Heaven
X-KDE-PluginInfo-Author=Jonathan Besler
X-KDE-PluginInfo-Website=http://
