[Desktop Entry]
Name=Dryland - The Way God Made Me
X-KDE-PluginInfo-Name=Dryland - The Way God Made Me
X-KDE-PluginInfo-Author=Christian Hecker
X-KDE-PluginInfo-Website=http://
