[Desktop Entry]
Name=Enigma - Sec-Check

X-KDE-PluginInfo-Name=Enigma - Sec-Check
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com