[Desktop Entry]
Name=Enigma II - NeuroTransX

X-KDE-PluginInfo-Name=Enigma II - NeuroTransX
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com