[Desktop Entry]
Name=2011sky

X-KDE-PluginInfo-Name=2011sky
X-KDE-PluginInfo-Author=Stormmajki
X-KDE-PluginInfo-Email=http://stormmajki.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
