[Desktop Entry]
Name=Enimga II, Clairvoyance

X-KDE-PluginInfo-Name=Enimga II, Clairvoyance
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com