[Desktop Entry]
Name=Orange County

X-KDE-PluginInfo-Name=Orange County
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/