[Desktop Entry]
Name=FOSS - It's Fun :D

X-KDE-PluginInfo-Name=FOSS - It's Fun :D
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com