[Desktop Entry]
Name=Netrunner Frontier

X-KDE-PluginInfo-Name=Netrunner Frontier
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
