[Desktop Entry]
Name=Netrunner - The Way God Made Me
X-KDE-PluginInfo-Name=Netrunner - The Way God Made Me
X-KDE-PluginInfo-Author=Christian Hecker
X-KDE-PluginInfo-Website=http://
