[Desktop Entry]
Name=Ariya
Name[ca]=Ariya
Name[de]=Ariya
Name[el]=Ariya
Name[es]=Ariya
Name[et]=Ariya
Name[eu]=Ariya
Name[fa]=آریا
Name[fi]=Ariya
Name[fr]=Ariya
Name[ga]=Ariya
Name[hu]=Ariya
Name[it]=Ariya
Name[kk]=Ария
Name[km]=Ariya
Name[nds]=Ariya
Name[nl]=Ariya
Name[nn]=Ariya
Name[pl]=Ariya
Name[pt]=Ariya
Name[pt_BR]=Ariya
Name[ro]=Ariya
Name[sk]=Ariya
Name[sl]=Ariya
Name[sr]=Арија
Name[sr@ijekavian]=Арија
Name[sr@ijekavianlatin]=Arija
Name[sr@latin]=Arija
Name[tr]=Ariya
Name[uk]=Арія
Name[x-test]=xxAriyaxx

X-KDE-PluginInfo-Name=Ariya
X-KDE-PluginInfo-Author=Eshat Cakar
X-KDE-PluginInfo-Email=info@eshat.de
X-KDE-PluginInfo-License=LGPLv3
