[Desktop Entry]
Name=Cool Blue Water

X-KDE-PluginInfo-Name=Cool Blue Water
X-KDE-PluginInfo-Author=Steve Parker
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/sparker/