[Desktop Entry]
Name=Hanami
Name[ar]=هانامي
Name[ca]=Hanami
Name[de]=Hanami
Name[el]=Hanami
Name[es]=Hanami
Name[et]=Hanami
Name[fa]=هانامی
Name[fi]=Hanami
Name[ga]=Hanami
Name[hu]=Hanami
Name[it]=Hanami
Name[kk]=Ханами
Name[nds]=Hanami
Name[nl]=Hanami
Name[nn]=Hanami
Name[pl]=Hanami
Name[pt]=Hanami
Name[pt_BR]=Hanami
Name[ru]=Ханами
Name[sk]=Hanami
Name[sl]=Hanami
Name[sr]=Ханами
Name[sr@ijekavian]=Ханами
Name[sr@ijekavianlatin]=Hanami
Name[sr@latin]=Hanami
Name[uk]=Ханамі
Name[x-test]=xxHanamixx
X-KDE-PluginInfo-Name=Hanami
X-KDE-PluginInfo-Author=Alexandre Courbot
X-KDE-PluginInfo-Email=gnurou@gmail.com
X-KDE-PluginInfo-License=LGPLv3
