[Desktop Entry]
Name=Enigma - Neon City

X-KDE-PluginInfo-Name=Enigma - Neon City
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com