[Desktop Entry]
Name=Stormgreen

X-KDE-PluginInfo-Name=Stormgreen
X-KDE-PluginInfo-Author=paninaro
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/?content=35826