[Desktop Entry]
Name=Enigma - Login

X-KDE-PluginInfo-Name=Enigma - Login
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com