[Desktop Entry]
Name=Chromatic - Alternative

X-KDE-PluginInfo-Name=Chromatic - Alternative
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com