[Desktop Entry]
Name=Plitvice LAke

X-KDE-PluginInfo-Name=Plitvice Lake
X-KDE-PluginInfo-Author=ddjm
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/?content=28974