[Desktop Entry]
Name=Quiet morning at Moncenisio Lake

X-KDE-PluginInfo-Name=Quiet morning at Moncenisio Lake
X-KDE-PluginInfo-Author=zenren
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/Quiet+morning+at+Moncenisio+lake?content=151226