[Desktop Entry]
Name=Azul
Name[ca]=Azul
Name[de]=Azul
Name[el]=Azul
Name[es]=Azul
Name[et]=Azul
Name[fa]=آزول
Name[fi]=Azul
Name[ga]=Azul
Name[hu]=Azul
Name[it]=Azul
Name[kk]=Азул
Name[nds]=Azul
Name[nl]=Azul
Name[nn]=Azul
Name[pl]=Azul
Name[pt]=Azul
Name[pt_BR]=Azul
Name[sk]=Azul
Name[sl]=Azul
Name[sr]=Азул
Name[sr@ijekavian]=Азул
Name[sr@ijekavianlatin]=Azul
Name[sr@latin]=Azul
Name[uk]=Азул
Name[x-test]=xxAzulxx

X-KDE-PluginInfo-Name=Azul
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-License=LGPLv3
