[Desktop Entry]
Name=Dryland - Third Edition - The Path

X-KDE-PluginInfo-Name=Dryland - Third Edition - The Path
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com