[Desktop Entry]
Name=Cosmos

X-KDE-PluginInfo-Name=Cosmos
X-KDE-PluginInfo-Author=Monopsia
X-KDE-PluginInfo-Email=http://monopsia.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
