[Desktop Entry]
Name=Enigma - Blue

X-KDE-PluginInfo-Name=Enigma - Blue
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com