[Desktop Entry]
Name=Dear to Dream

X-KDE-PluginInfo-Name=Dear to Dream
X-KDE-PluginInfo-Author=Philip Taylor
X-KDE-PluginInfo-Email=http://www.flickr.com/photos/golden_ribbon/
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
