[Desktop Entry]
Name=Prato
Name[ast]=Prato
Name[bs]=Prato
Name[ca]=Prato
Name[cs]=Prato
Name[de]=Prato
Name[el]=Prato
Name[es]=Prato
Name[et]=Prato
Name[fi]=Prato
Name[ga]=Prato
Name[gl]=Prato
Name[hu]=Prato
Name[it]=Prato
Name[kk]=Прато
Name[nl]=Prato
Name[pl]=Prato
Name[pt]=Prato
Name[pt_BR]=Prato
Name[ro]=Prato
Name[ru]=Прато
Name[sk]=Prato
Name[sl]=Prato
Name[sr]=Прато
Name[sr@ijekavian]=Прато
Name[sr@ijekavianlatin]=Prato
Name[sr@latin]=Prato
Name[tr]=Prato
Name[uk]=Прато
Name[x-test]=xxPratoxx
Name[zh_CN]=普拉托 
X-KDE-PluginInfo-Name=Prato
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=bettio@kde.org
X-KDE-PluginInfo-License=LGPLv3
