[Desktop Entry]
Name=Netrunner Terminal Line

X-KDE-PluginInfo-Name=Netrunner Terminal Line
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
