[Desktop Entry]
Name=East Village

X-KDE-PluginInfo-Name=East Village
X-KDE-PluginInfo-Author=Nicolas Goulet
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/nicolasgoulet/