Source: netrunner-wallpapers
Section: kde
Priority: optional
Maintainer: Rohan Garg <rohangarg@kubuntu.org> 
Build-Depends: 
 cmake, debhelper (>= 7.3.16), pkg-kde-tools (>= 0.12), kdelibs5-dev (>= 4:4.9.0), libssl-dev
Standards-Version: 3.9.3
Homepage: http://netrunner-linux.com

Package: netrunner-kde-wallpapers
Architecture: all
Depends: ${misc:Depends}
Replaces: kde-wallpapers
Conflicts: kde-wallpapers
Description: set of wallpapers for Netrunner
 This package contains wallpapers from Netrunner.
 .
 This package is a subset of kde-wallpapers

Package: netrunner-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: set of wallpapers for Netrunner
 This package contains wallpapers from Netrunner.
