Source: netrunner-artwork-backgrounds
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-artwork-backgrounds
Architecture: all
Description: Backgrounds for Netrunner
 Backgrounds for Netrunner
