[Desktop Entry]
Name=Star River

X-KDE-PluginInfo-Name=Star River
X-KDE-PluginInfo-Author=Caledonia
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
