[Desktop Entry]
Name=Green

X-KDE-PluginInfo-Name=Green
X-KDE-PluginInfo-Author=makoy00
X-KDE-PluginInfo-Email=http://makoy00.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
