[Desktop Entry]
Name=Canyon Descent 2

X-KDE-PluginInfo-Name=Canyon Descent 2
X-KDE-PluginInfo-Author=zb123
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/?content=91619