[Desktop Entry]
Name=Elein

X-KDE-PluginInfo-Name=Elein
X-KDE-PluginInfo-Author=MustBeResult
X-KDE-PluginInfo-Email=http://mustberesult.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
