[Desktop Entry]
Name=Blue Light in a Cavern

X-KDE-PluginInfo-Name=Blue Light in a Cavern
X-KDE-PluginInfo-Author=MarinkaV
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php?content=86465