[Desktop Entry]
Name=Starlights

X-KDE-PluginInfo-Name=Starlights
X-KDE-PluginInfo-Author=Jerome Da
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/seanturcomusic/