[Desktop Entry]
Name=Dryland - Third Edition - The Map

X-KDE-PluginInfo-Name=Dryland - Third Edition - The Map
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com