[Desktop Entry]
Name=Peacock

X-KDE-PluginInfo-Name=Peacock
X-KDE-PluginInfo-Author=Jürgen Donauer
X-KDE-PluginInfo-Email=http://www.bitblokes.de/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
