[Desktop Entry]
Name=Winter Fog

X-KDE-PluginInfo-Name=Winter Fog
X-KDE-PluginInfo-Author=Jerome Da
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/seanturcomusic/