[Desktop Entry]
Name=Broken Glass

X-KDE-PluginInfo-Name=Broken Glass
X-KDE-PluginInfo-Author=Holger "conDOrman"
X-KDE-PluginInfo-Email=http://www.flickr.com/photos/themightycondorman/
X-KDE-PluginInfo-License=CreativeCommons-BY
