[Desktop Entry]
Name=Nature Loves You

X-KDE-PluginInfo-Name=Nature Loves You
X-KDE-PluginInfo-Author=Soulman80
X-KDE-PluginInfo-Email=http://mygfx.eu/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
