[Desktop Entry]
Name=Blacklight

X-KDE-PluginInfo-Name=Blacklight
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com