[Desktop Entry]
Name=Going West

X-KDE-PluginInfo-Name=Going West
X-KDE-PluginInfo-Author=Moyan Brenn
X-KDE-PluginInfo-Website=http://www.flickr.com/photos/aigle_dore/