[Desktop Entry]
Name=Road Surface

X-KDE-PluginInfo-Name=Road Surface
X-KDE-PluginInfo-Author=kenderson
X-KDE-PluginInfo-Email=http://kenderson.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
