[Desktop Entry]
Name=Pink Emotion

X-KDE-PluginInfo-Name=Pink Emotion
X-KDE-PluginInfo-Author=Michael "Du3ky"
X-KDE-PluginInfo-Email=http://du3ky.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
