[Desktop Entry]
Name=Enigma II

X-KDE-PluginInfo-Name=Enigma II
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Website=http://www.netrunner-os.com