[Desktop Entry]
Name=Netrunner - Journey to Heaven
X-KDE-PluginInfo-Name=Netrunner - Journey to Heaven
X-KDE-PluginInfo-Author=Jonathan Besler
X-KDE-PluginInfo-Website=http://
