[Desktop Entry]
Name=Contemplation

X-KDE-PluginInfo-Name=Contemplation
X-KDE-PluginInfo-Author=Jackson D. Carson
X-KDE-PluginInfo-Email=http://www.flickr.com/photos/jaxxon
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
