[Desktop Entry]
Name=Sahara III

X-KDE-PluginInfo-Name=Sahara III
X-KDE-PluginInfo-Author=xetjoe
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/?content=27409