[Desktop Entry]
Name=Sky 2011

X-KDE-PluginInfo-Name=Sky 2011
X-KDE-PluginInfo-Author=Stormmajki
X-KDE-PluginInfo-Email=http://stormmajki.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
