[Desktop Entry]
Name=Chandra

X-KDE-PluginInfo-Name=Chandra
X-KDE-PluginInfo-Author=chandraiitk
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/Chandra?content=46158